<%- include header %>

<div class="container">
  <div class="jumbotron">
    <h1>我的第一个 Bootstrap 页面</h1>
    <p>重置窗口大小，查看响应式效果！</p>
  </div>
  
  <table class="table table-striped">
    <caption>我的笔记列表</caption>
    <thead>
    <tr>
      <th>标题</th>
      <th>标签</th>
      <th>日期</th>
    </tr>
    </thread>
    
    <tbody>
    <% notes.forEach(function(note){ %>
    <tr>
       <td>
         <a href="/detail/<%= note._id %>"><%= note.title %></a>
       </td>
       <td><%= note.tag %></td>
       <td><%= moment(note.createTime).locale('zh-cn').format('LL HH:mm:ss') %> </td>
    </tr>
    <% }); %>
    </tbody>
    
 
  </table>
  <ul class="pagination pagination-lg">
      <li><a href="/start/<%= prev %>">&laquo;</a></li>
      <% for (var i=1,j=1;i<number;i=i+nitems,j++) { %>
      <li><a href="/start/<%= i %>"><%= j %></a></li>
      <% } %>
      <li><a href="/start/<%= next %>">&raquo;</a></li>
    </ul>
</div>
<%- include footer %>
